body {
    background: url(../Img/wall.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Conteúdo*/

#comp-teorica {
	overflow: hidden;
	text-align: center;
	width: 700px;
	height: 1500px;
	margin: 0px auto;
	padding: 0px 150px 110px 0px;
}

#comp-teorica h3 {
	padding: 20px 0px 0px 0px;
	font-size: 50px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}

#form {
	font-size: 50px;
    padding: 15px 40px 15px 0px;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}

#botao{
	width: 200px
	height:200px;
}

#coluna4 {
	width: 800px;
	height: 800px;
	margin-top: 100px;
	margin-right: 100px;
	margin-left: 20px;
	background: #EDEDED;
	border-radius: 5%;
}

.feedback{
	text-align: center;
	background-color: white;
	width: 450px;	
	height: 75px;
	margin: 0px 100px -35px 125px;
    border: 2px solid #B2B2B1;
	border-radius: 15px;

}

input[type=text]{
	font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}

#search[type=text] {
    width: 650px;
    box-sizing: border-box;
    border: 2px solid #ccc000;
    border-radius: 15px;
    margin: 100px 0px 50px 50px;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
    background-size: 80px 80px;
    background-image: url('../Img/search_icon.png');
    background-position: 550px 10px; 
    background-repeat: no-repeat;
    padding: 30px 20px 22px 40px; 
}

#concluir {
	float: right;
	width: 250px;
	margin-top:200px; 
	text-align: center;
	height: 250px;
	background-color: #13f113;
	font-size:40px;
	font-weight: bold;
	border-radius: 50%;
    font-family: 'Ubuntu', sans-serif;
}

#cancelar {
    float: left;
	width: 250px;
	height: 250px;
	margin-top: 200px; 
	margin-left: -22px;
	text-align: center;
	background-color: red;
	border: 2px solid red;
	font-size: 40px;
	font-weight: bold;
	border-radius: 50%;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: 'Ubuntu', sans-serif;
}

#feedback {
    font-size: 23px;
    color: firebrick;
}





/* Dropdown Button */
.dropbtn {
	width: 460px;	
	height: 90px;
    padding: 16px;
    border: 2px solid #B2B2B1;
    border-radius: 15px;
    margin: -10px 100px -35px 50px;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
    background-size: 80px 80px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    width: 460px;
    box-sizing: border-box;
    border: 2px solid #ccc000;
    border-radius: 15px;
    margin: 40px 0px 50px 49px;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #f9f9f9;
    background-size: 80px 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}