body {
    background: url(../Img/wall.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Conteúdo*/

#Info {
	overflow: hidden;
	text-align: center;
	width: 700px;
	height: 1700px;
	margin: 0px auto;
	padding: 0px 150px 110px 150px;
}

#Info h3 {
	padding: 20px 0px 0px 0px;
	font-size: 65px;
	color: black;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}

#form {
	font-size: 50px;
    padding: 15px 40px 15px 0px;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}

#coluna4 {
	width: 900px;
	height: 1200px;
	margin-top: 100px;
	margin-right: 0px;
	margin-left: -100px;
	background: #EDEDED;
	border-radius: 5%;
}

#dono, #horario, #placa, #modelo, #cor, #vaga {
	border: 2px solid #ccc000;
    border-radius: 15px;
	text-align: center;
	height: 50px;
	margin-bottom: 30px;
	padding: 10px 100px 10px 100px;
}

input[type="text"] {
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
}

#salvar {
    float: right;
	width: 300px;
	height: 300px;
	margin-top: 50px; 
	margin-right: -50px;
	text-align: center;
	background-color: #13f113;
	border: 2px solid #13f113;
	font-size: 50px;
	font-weight: bold;
	border-radius: 50%;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: 'Ubuntu', sans-serif;
}

#cancelar {
    float: left;
	width: 300px;
	height: 300px;
	margin-top: 50px; 
	margin-left: -50px;
	text-align: center;
	background-color: red;
	border: 2px solid red;
	font-size: 50px;
	font-weight: bold;
	border-radius: 50%;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: 'Ubuntu', sans-serif;
}

#feedback {
    font-size: 23px;
    color: firebrick;
}